{% extends "base.html" %}

{% from "macroces/field_macro.html" import render_field, render_field_data %}

{% block header %}
    <div class="container">
        <div class="header-data">
            <div class="header-name">
                <a href="/admin"> <i class="bi bi-arrow-bar-left"></i> Назад</a>
            </div>
            <nav class="header-nav">
                <a class="btn btn-secondary logout" href="/logout"><i class="bi bi-box-arrow-right"></i></a>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="form-container">
        <form action="" method="POST">
            {{ form.csrf_token }}
            {{ render_field(form.number) }}
            {{ render_field(form.camera_address) }}
            {{ render_field_data(form.submit, "Создать") }}
        </form>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='logout.js') }}"></script>
{% endblock %}