{% extends "base.html" %}

{% from "macroces/field_macro.html" import render_field, render_field_data %}

{% from 'macroces/header_macro.html' import edit_header %}

{% block header %}
    {{ edit_header() }}
{% endblock %}

{% block content %}
    <div class="form-container">
        <form action="" method="POST">
            {{ form.csrf_token }}
            {{ render_field(form.fio) }}
            {{ render_field(form.image_url) }}
            <div class="form-group">
                {{form.group.label}}
                {% if redirected_group %}
                {{form.group(list="group-list", value=redirected_group)}}
                {% else %}
                {{form.group(list="group-list")}}
                {% endif %}
                <datalist id="group-list">
                    {% for group in groups %}
                        <option>{{ group.number }}</option>
                    {% endfor %}
                </datalist>
            </div>
            {{ render_field_data(form.submit, "Создать") }}
        </form>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}