div[class$="-tools"] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 5px;
    padding: 5px;
    border-bottom: 2px solid black;
}

li[class$="_item"] {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 150px;
    font-size: 1.6em;
    padding-top: 10px;
    align-items: center;
}

.lesson_item, .student_item, .group_item {
    grid-template-columns: 1fr 150px 100px !important;
    gap: 10px
}