{% extends "base.html" %}

{% from "macroces/header_macro.html" import edit_header %}

{% block header %}
    {{ edit_header() }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}
    <div class="loader_container">
        <div class="loader"></div>
    </div>
    <div class="container">
        <input type="hidden" id="lesson_id" value="{{ lesson_id }}">
        <div class="capture-buttons">
            <button class="start-capture btn btn-primary">Начать отметку</button>
            <button class="stop-capture btn btn-warning">Закончить отметку</button>
        </div>
        <div class="students-on-lesson"></div>
        <div class="save-checks">
            <button id="save">
                Сохранить отметки
            </button>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
