{% extends "base.html" %}

{% from "macroces/field_macro.html" import render_field_data, render_field %}

{% from 'macroces/header_macro.html' import edit_header %}

{% block header %}
    {{ edit_header() }}
{% endblock %}

{% block content %}
    <div class="form-container">
        <form method="POST" action="">
            {{ render_field_data(form.name, course.name) }}
            <div>
                {% for student in form.students %} {{ render_field(student) }} {% endfor %}
            </div>
            {{ render_field_data(form.submit, "Обновить") }}
        </form>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='logout.js') }}"></script>
{% endblock %}