{% extends "base.html" %}

{% from "macroces/field_macro.html" import render_field_data, render_field %}

{% block header %}
    <div class="container">
        <div class="header-data">
            <div class="header-name">
                <a href="/"> <i class="bi bi-arrow-bar-left"></i> Назад</a>
            </div>
            <nav class="header-nav">
                <a class="btn btn-secondary logout" href="/logout"><i class="bi bi-box-arrow-right"></i></a>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="form-container">
        <form method="POST" action="">
            {{ render_field_data(form.name, lesson.theme) }}
            <div>{{ render_field(form.auditory) }}</div>
            {{ render_field(form.submit) }}
        </form>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='logout.js') }}"></script>
{% endblock %}